.slider .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: 600px;
  background: #ccc;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
}

.slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-items {
  position: relative;
}
.slider-items .slider-infor {
  position: absolute;
  top: 34%;
  /* transform: translateY(-65%); */
  left: 8%;
  text-align: left;
}
.slider-items .slider-collection {
  font-size: 28px;
}
.slider-items .slider-title {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  padding-top:19px;
  padding-bottom:43px;
}
.slider-items .btn-buy-now {
  display: inline-block;
  border-radius: 23px;
  background-color: #717fe0;
  text-align: center;
}
.btn-buy-now a {
  padding: 0 38px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
  line-height: 46px;
}
.slider .mySwiper {
  position: relative;
}
.slider .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.prev,
.next {
  align-self: center;
  font-size: 35px;
  color: rgb(255, 255, 255, 0.8);
}

.btn-prev {
  left: 2%;
}
.btn-next {
  right: 2%;
}
.mySwiper:hover .btn-prev,
.mySwiper:hover .btn-next {
  opacity: 1;
}
.btn-prev:hover,
.btn-next:hover {
  background: rgba(0, 0, 0, 1);
}
.btn-prev:hover .prev,
.btn-next:hover .next {
  color: rgb(255, 255, 255);
}
/* ---- End Slider ---- */

#featured-products {
  min-height: 500px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background: #b1a9a9;
  height: 350px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
