.slider .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: 600px;
  background: #ccc;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
}

.slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-items {
  position: relative;
}
.slider-items .slider-infor {
  position: absolute;
  top: 34%;
  /* transform: translateY(-65%); */
  left: 8%;
  text-align: left;
}
.slider-items .slider-collection {
  font-size: 28px;
}
.slider-items .slider-title {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  padding-top: 19px;
  padding-bottom: 43px;
}
.slider-items .btn-buy-now {
  display: inline-block;
  border-radius: 23px;
  background-color: #717fe0;
  text-align: center;
}
.btn-buy-now a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 38px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
}
.slider .mySwiper {
  position: relative;
}
.slider .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.prev,
.next {
  align-self: center;
  font-size: 35px;
  color: rgb(255, 255, 255, 0.8);
}

.btn-prev {
  left: 2%;
}
.btn-next {
  right: 2%;
}
.mySwiper:hover .btn-prev,
.mySwiper:hover .btn-next {
  opacity: 1;
}
.btn-prev:hover,
.btn-next:hover {
  background: rgba(0, 0, 0, 1);
}
.btn-prev:hover .prev,
.btn-next:hover .next {
  color: rgb(255, 255, 255);
}
/* ---- End Slider ---- */

/* =================== BANNER ========================= */
.pos-relative {
  position: relative !important;
}
.pos-absolute {
  position: absolute !important;
}
#banner-section {
  padding-top: 30px;
  padding-bottom: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-4 {
  flex-basis: 32%;
}
.item {
  border: 1px solid #e6e6e6;
  margin-bottom: 50px;
}
#banner-section .item .thumb {
  display: block;
  height: 258px;
}
.item img {
  /* border: 1px solid #e6e6e6; */
  max-width: 100%;
  height: 100%;
}

#banner-section .item .infor {
  top: 10%;
  left: 7%;
}

.infor .title {
  font-size: 28px;
}
.infor .desc {
  font-size: 14px;
}
#banner-section .btn-buy-now {
  top: 250%;
  width: 84px;
  text-transform: uppercase;
  line-height: 22px;
  z-index: 1;
  border-bottom: 1px solid #717fe0;
  padding-bottom: 2px;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
#banner-section .btn-buy-now a {
  /* display: block; */
  padding: 0;
  /* color: #333 !important; */
  font-size: 15px;
  font-weight: 600;
  color: #717fe0;
}
#banner-section .item:hover .btn-buy-now {
  opacity: 1;
}
/* end banner */
/* ------------------- STORE OVERVIEW ------------------ */
#featured-products h2 {
  text-align: center;
  font-size: 50px;
  color: #222;
  line-height: 1.1;
  margin-bottom: 30px;
}
.filter-by {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.filter-by li {
  list-style: none;
}
.filter-by li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  color: #333;
}
.filter-by .active {
  color: #717fe0;
  text-decoration: underline;
}
#featured-products .item .infor {
  padding: 10px;
}
#featured-products .item .title {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 6px;
  font-weight: 400;
  text-decoration: none;
  color: #999;
}
#featured-products .item .title:hover {
  color: #717fe0;
}
#featured-products .item .price {
  font-size: 16px;
  letter-spacing: 1;
  color: #666;
}

.btn-quick-view {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  background: #fff;
  min-width: 139px;
  height: 40px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #333;
  line-height: 1.4;
  transition: all 0.4s;
}
.btn-quick-view:hover {
  color: #fff;
  background: #333;
}
.item .thumb {
  overflow: hidden;
}
.item .thumb:hover .btn-quick-view {
  bottom: 8%;
}
